/* docview -> common */

.docview {
  margin-bottom: 20px;
}

.docview * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.docview .clear {
  clear: both;
}

.docview > .wrapper {
  margin-top: 10px;
}

.docview > .wrapper > .top-scrollbar {
  margin: 20px 0px 10px 0px;
}

/* docview -> toolbar-wrapper -> common */

.docview .toolbar-wrapper {
  top: 0px;
  width: 1200px;
  margin-top: 10px;
  z-index: 950;
}

/* docview -> toolbar -> common */

.docview .toolbar {
  float: left;
  width: 640px;
  height: 34px;
  margin-right: 10px;
  padding: 4px 8px;
  border: 1px solid black;
  background: none;
}

.docview.grid .toolbar {
  width: 305px;
}

.docview.filmstrip .toolbar,
.docview.flip-book .toolbar {
  width: 495px;
}

.docview .toolbar > .delimiter {
  float: left;
  width: 1px;
  height: 24px;
  margin-right: 8px;
  background: black;
}

/* docview -> toolbar -> buttons */

.docview .toolbar .modes,
.docview .toolbar .zoom {
  float: left;
}

.docview .toolbar a {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  padding: 0px;
  background: url(../img/docview.png) no-repeat scroll 0px 0px transparent;
  outline: none;
  cursor: pointer;
}

.docview .toolbar .grid {
  background-position: 0px 0px;
}

.docview .toolbar .filmstrip {
  background-position: -24px 0px;
}

.docview .toolbar .inspect {
  background-position: -48px 0px;
}

.docview .toolbar .flip-book {
  background-position: -72px 0px;
}

.docview .toolbar .fullscreen {
  background-position: -96px 0px;
}

.docview .toolbar .zoom-out {
  background-position: -120px 0px;
}

.docview .toolbar .zoom-in {
  background-position: -144px 0px;
}

.docview .toolbar .dim {
  background-position: -168px 0px;
}

.docview .toolbar .grid:hover,
.docview.grid .toolbar .grid {
  background-position: 0px -24px;
}

.docview .toolbar .filmstrip:hover,
.docview.filmstrip .toolbar .filmstrip {
  background-position: -24px -24px;
}

.docview .toolbar .inspect:hover,
.docview.inspect .toolbar .inspect {
  background-position: -48px -24px;
}

.docview .toolbar .flip-book:hover,
.docview.flip-book .toolbar .flip-book {
  background-position: -72px -24px;
}

.docview .toolbar .fullscreen:hover {
  background-position: -96px -24px;
}

.docview .toolbar .zoom-out:hover {
  background-position: -120px -24px;
}

.docview .toolbar .zoom-in:hover {
  background-position: -144px -24px;
}

.docview .toolbar .dim:hover {
  background-position: -168px -24px;
}

/* docview -> toolbar -> paginator */

.docview .toolbar .paginator {
  float: left;
  width: 172px;
  margin-right: 8px;
}

.docview .toolbar .paginator .cur {
  float: left;
  width: 120px;
  height: 20px;
  margin: 2px;
  padding: 2px 0px;
  border: 1px solid black;
  font-size: 13px;
  line-height: 20px;
  color: black;
  text-align: center;
  outline: none;
}

.docview .toolbar .paginator a {
  margin: 0px;
}

.docview .toolbar .paginator .prev {
  background-position: -192px 0px;
}

.docview .toolbar .paginator .prev:hover {
  background-position: -192px -24px;
}

.docview .toolbar .paginator .next {
  background-position: -216px 0px;
}

.docview .toolbar .paginator .next:hover {
  background-position: -216px -24px;
}

.docview.grid .toolbar .paginator,
.docview.grid .toolbar .delimiter-after-paginator {
  display: none;
}

/* docview -> toolbar -> rotator */

.docview .toolbar .rotator {
  display: none;
  float: left;
  width: 64px;
}

.docview .toolbar .delimiter-after-rotator {
  display: none;
}

.docview .toolbar .rotator .left {
  background-position: -312px 0px;
}

.docview .toolbar .rotator .left:hover {
  background-position: -312px -24px;
}

.docview .toolbar .rotator .right {
  background-position: -336px 0px;
}

.docview .toolbar .rotator .right:hover {
  background-position: -336px -24px;
}

.docview.inspect .toolbar .rotator,
.docview.inspect .toolbar .delimiter-after-rotator {
  display: block;
}

/* docview -> toolbar -> download and print */

.docview .toolbar .download {
  display: none;
  background-position: -384px 0px;
}

.docview .toolbar .download:hover {
  background-position: -384px -24px;
}

.docview.inspect .toolbar .download {
  display: block;
}

.docview .toolbar .print {
  display: none;
  background-position: -360px 0px;
}

.docview .toolbar .print:hover {
  background-position: -360px -24px;
}

.docview.inspect .toolbar .print {
  display: block;
}

/* docview -> toolbar -> other rules */

.docview.grid .toolbar .delimiter-after-dim,
.docview.filmstrip .toolbar .delimiter-after-paginator,
.docview.flip-book .toolbar .delimiter-after-paginator {
  display: none;
}

/* docview -> toolbar-buttons */

.docview .toolbar-buttons {
  float: left;
}

/* docview -> viewport */

.docview .viewport {
  padding-bottom: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.docview .viewport .wrapper {
  position: relative;
  margin: 0px auto;
}

.docview .viewport .page {
  position: relative;
  float: left;
  margin: 0px 3px 3px 0px;
  border: 2px solid transparent;

  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
       -o-box-sizing: content-box;
      -ms-box-sizing: content-box;
          box-sizing: content-box;
}

.docview .viewport .page.current {
  border-color: black;
}

.docview .viewport .page img {
  position: absolute;
  max-width: none;
}

.docview.flip-book .page {
  margin: 0px;
  border: none;
}

/* docview -> theme -> standard */

.docview.standard .toolbar {
  border: 1px solid #d0d0d0;
  background: #eee;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.docview.standard .toolbar > .delimiter {
  background: #d0d0d0;
}

.docview.standard .toolbar .paginator .cur {
  border: 1px solid #d0d0d0;
  color: #555;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.docview.standard .viewport .page.current {
  border-color: #5be;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.docview.standard .page img {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

/* docview -> theme -> simple */

.docview.simple .toolbar {
  border: 1px solid #d0d0d0;
  background: #eee;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.docview.simple .toolbar > .delimiter {
  background: #d0d0d0;
}

.docview.simple .toolbar .paginator .cur {
  border: 1px solid #d0d0d0;
  color: #555;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

docview.simple .viewport .page.current {
  border-color: #5be;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.docview.simple .page img {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

/* docview -> theme -> dark */

.docview.dark .toolbar {
  border: 1px solid #d0d0d0;
  background: #eee;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.docview.dark .toolbar > .delimiter {
  background: #d0d0d0;
}

.docview.dark .toolbar .paginator .cur {
  border: 1px solid #d0d0d0;
  color: #555;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

docview.dark .viewport .page.current {
  border-color: #a33;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.docview.dark .page img {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

